
html {
  font-family: sans-serif;
}

#wrapper{
  width: 700px;
  margin: auto;
}

header{
  height: 160px;
  background-color: hsl(50, 73%, 84%);
  padding-left: 10px;
  text-align: center;
}


body{
  font: arial;
  background-color: azure;
}

h1{
  color:#636262;
  font-size: 60;
  padding-top: 10px;
}

h2{
  color:#7a7a7a;
  font-size: 36;
  padding-top: 0px;
}

h3{
  color:black;
  font-size: large;
  text-decoration: solid ;
}

p {
  color:black;
  font-size: medium;
  text-align: left;
}

nav a{
  color:black;
  font-size: medium;
}
nav ul{
  margin: 0px;
  padding: 10px 0px 10px 30px;

}
nav li{
  display: inline;
  margin-right: 40px;
  color:black;
}

nav a {
  text-decoration: none;
  border-style: solid;
  border-width: 3px;
  padding: 2px;
}

.active{
  background-color: #c9f7f7;
}

.hline_bottom {
  padding-bottom: 5px;
  border-bottom: 3px solid black;
  width: 80%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.hline_bottom_left {
  padding-bottom: 5px;
  border-bottom: 3px solid black;
  width: 80%;
  align-items: left;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}


.box {
  height: 320px;;
}
img.align-left {
  float: left;
  margin-right: 10px;
}

img.align-right {
  float: right;
  margin-right: 10px;
  
  }

img.align-center {
  float: center;
  margin-right: 10px;
  margin-left: 10px;
  
  }
img.one{
   width:217px;
   height: auto;
}

img.two{
   width:350px;
   height:auto;
   padding-top: 10px;
}

img.three{
   width:318px;
   height:auto;
   padding-bottom: 10px;
   padding-top: 10px;
}

img.square {
  width: 180px;
  height: auto;
  }

img.medium{
  width: 230px;
  height: auto;
}

img.small{
  width: 50px;
  height: auto;
}

footer {
  padding: 10px 10px 10px 10px;
  height: 50px;

}

li{
  color: black;
  size: small;
}

.right {
  float: right;
}

legend{
  color:black;
  size: small;
}